/*  your css code here. If applicable */
.middle{
	width:100%;
	text-align:center;
	border:1px solid black;
	border-spacing:1px;
	padding:1px;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
#table-1 {
    border:1px solid black;
}
